* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.note-style {
    width: 27%;
    overflow-x: hidden;
    margin: 0 8px;
    word-wrap: break-word;
}

.note-styleB {
    width: 12%;
    overflow-x: hidden;
    margin: 0 8px;
    word-wrap: break-word;
}

.main-buttons {
    width: 10%;
    overflow-x: hidden;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.note-edit {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}
.note-edit:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-delete {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}

.note-delete:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-archive {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}

.note-archive:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-style-Header {
    width: 27%;
    overflow-x: hidden;
    margin: 0 8px;
    color: #FFFFFF;
    font-weight: bold;
}

.note-styleB-Header {
    width: 12%;
    overflow-x: hidden;
    margin: 0 8px;
    color: #FFFFFF;
    font-weight: bold;
}

.main-buttons-Header {
    align-items: center;
    color: #FFFFFF;
    width: 10%;
    overflow-x: hidden;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.notes {
    display: grid;
    flex-wrap: wrap;
}

.note {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 8px;
    height: 80px;
    max-width: 1200px;
    background-color: #E8EAF5;
}

.note-add {
    padding: 6px 9px;
    margin: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: #4CAF50;
    background-color: #FFFFFF;
}

.note-add:hover {
    background-color: #4CAF50;
    color: white;
}

.note-switch {
    padding: 6px 9px;
    margin: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: #4CAF50;
    background-color: #FFFFFF;
}

.note-switch:hover {
    background-color: #4CAF50;
    color: white;
}

/*.note-delete {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

.note-delete:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.note-delete:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}*/

.hidden {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 8px;
    background-color: #999999;
    max-width: 1200px;
    height: 80px;
}

.archived-container {
    max-width: 1200px;
    margin: 0 auto;
}

.archived-notes {
    display: grid;
    flex-wrap: wrap;
}