* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.table-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.status {
    width: 30%;
    overflow-x: hidden;
    margin: 0 4px;
    word-wrap: break-word;
}

.table-category {
    width: 40%;
    overflow-x: hidden;
    margin: 0 4px;
    word-wrap: break-word;
}

.table-header {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 4px;
    background-color: #999999;
    max-width: 1200px;
    height: 40px;
}

.table-status {
    width: 30%;
    overflow-x: hidden;
    margin: 0 4px;
    color: #FFFFFF;
    font-weight: bold;
}

.table-name {
    width: 40%;
    overflow-x: hidden;
    margin: 0 4px;
    color: #FFFFFF;
    font-weight: bold;
}

.table-style {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 4px;
    height: 40px;
    max-width: 1200px;
    background-color: #E8EAF5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.note-style {
    width: 27%;
    overflow-x: hidden;
    margin: 0 8px;
    word-wrap: break-word;
}

.note-styleB {
    width: 12%;
    overflow-x: hidden;
    margin: 0 8px;
    word-wrap: break-word;
}

.main-buttons {
    width: 10%;
    overflow-x: hidden;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.note-edit {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}

.note-edit:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-delete {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}

.note-delete:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-archive {
    padding: 4px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-decoration: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    margin: auto;
    color: #524f4e;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    transition: .3s;
}

.note-archive:hover {
    background: #2EE59D;
    box-shadow: 0 5px 8px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-4px);
}

.note-style-Header {
    width: 27%;
    overflow-x: hidden;
    margin: 0 8px;
    color: #FFFFFF;
    font-weight: bold;
}

.note-styleB-Header {
    width: 12%;
    overflow-x: hidden;
    margin: 0 8px;
    color: #FFFFFF;
    font-weight: bold;
}

.main-buttons-Header {
    align-items: center;
    color: #FFFFFF;
    width: 10%;
    overflow-x: hidden;
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.notes {
    display:flex;
    flex-direction: column;
    overflow: auto;
    height: 480px;
}

.note {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 8px;
    height: 80px;
    max-width: 1200px;
    background-color: #E8EAF5;
    flex-shrink: 0;
}

.note-add {
    padding: 6px 9px;
    margin: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: #4CAF50;
    background-color: #FFFFFF;
}

.note-add:hover {
    background-color: #4CAF50;
    color: white;
}

.note-switch {
    padding: 6px 9px;
    margin: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-color: #4CAF50;
    background-color: #FFFFFF;
}

.note-switch:hover {
    background-color: #4CAF50;
    color: white;
}

.hidden {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 8px;
    background-color: #999999;
    max-width: 1200px;
    height: 80px;
}

.archived-container {
    max-width: 1200px;
    margin: 0 auto;
}

.archived-notes {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 480px;
}